<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax</title>
</head>
<body>
    <div id="display"></div>

<button id="allbtn">전체데이터 가져오기</button> <br/>
bid <input type="text", id="bid" />
<button id="getbook">데이터 하나 가져오기</button>
</body>
    <script>

        document.getElementById("allbtn").addEventListener("click",
            (e) => {
            let request = new XMLHttpRequest();
                // 출력하는 함수에 객체를 대입하면 toString 메서드를 호출함
                //python은 __str__ 메서드를 호출함
                // 위 메서드 재정의하면 그 내용이 출력되지만
                // 재정의하지 않으면 기본적으로 설정된 출력됨
                //alert(request);
                //요청 생성 - 현재 나는 8000/ajax
                request.open('GET','../example/fbv/books',true);
                //요청 전송
                request.send('')
                //응답이 오면 호출
                request.addEventListener('load', (e) => {
                    //문자열 alert(request.responseText)
                    //문자열을 자바스크립트 데이터로 변환 - 객체들의 배열
                    let data = JSON.parse(request.responseText);
                    let txt = '';
                    for (let item of data){
                        txt += '<h3>'+ item.title + '</h3>';
                        txt += '<p>'+ item.price + '</p>';
                        txt += '<p>'+ item.published_date + '</p>';
                    }
                    document.getElementById("display").innerHTML = txt;
                })
        });

        document.getElementById("getbook").addEventListener("click",
            (e) => {
            //id가 bid인 input 값을 가져오기
            let bid = document.getElementById("bid").value;
            let request = new XMLHttpRequest();
            request.open('GET', '../example/fbv/book/' + bid, true );
            request.send('');
            request.addEventListener('load', (e) => {
                //없는 번호일 때는 detail:NotFound 넘어옴
                //alert(request.responseText);
                let data = JSON.parse(request.responseText);
                let txt = '';
                if ('detail' in data){
                    txt = "<h3> 해당되는 bid가 없습니다 </h3>";
                }
                else {
                    txt += '<h3>' + data.title + '</h3>';
                    txt += '<p>'+ data.author + '</p>';
                    txt += '<p>'+ data.pages + '</p>';
                }
                document.getElementById("display").innerHTML = txt;
            })
        });




    </script>
</html>